nav {
  /* background-color: black;
  color: white;
  padding: 20px; */
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li {
  background-color: red;
  padding: 10px 10px;
}

.ist img {
  width: 100px;
  border-radius: 50px;
}

.ist {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ul2 {
  padding: 10px;
}

.ul2 {
  font-family: Arial, Helvetica;
  list-style-type: none;
}

.ul2 li {
  display: flex;
  flex-direction: row;
}

.abt1 {
  padding: 5px;
  background-color: black;
  color: white;
  width: fit-content;
  text-align: center;
  margin: auto;
}

.abt2 {
  background-color: black;
  color: white;
  width: 200px;
  padding: 30px;
  margin: auto;
}

.abt2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.llink {
  text-decoration: none;
  color: white;
}

.chop {
  background-color: white;
  color: black;
  box-shadow: inset 0px 0px 30px gray;
  width: 250px;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  text-align: center;
}

.chop img {
  width: 200px;
}

.api {

  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width:768px) {
  .ist {
    display: block;
    justify-content: space-between;
    padding: 10px;
  }
  nav ul {
    display: block;
    list-style-type: none;
    justify-content:end;
    width: fit-content;
  }
  nav ul li {
    margin-top: 10px;
  }

  .ipi{
    display: block;
    flex-direction: column;
  }

}
.kplpi{
  color: black;
  background-color: red;
}

.iiop {
  background-color: cornflowerblue;
}


.iconss {
  /* background-color: black; */
}

.iconss ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

.iconss img {
  width: 40px;
}

.ndp img {
  width: 40px;
}

.dark {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  box-shadow: inset 0px 0px 19px white;
}

.light {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  box-shadow: inset 0px 0px 19px black;
}
.imm{
 width: 310px;
 margin-bottom: 50px;
}
.ipi{
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}