nav {
  /* background-color: black;
  color: white;
  padding: 20px; */
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li {
  background-color: black;
  padding: 10px 10px;
}

.ist img {
  width: 80%;
  border-radius: 10px;
  justify-content: end;
}
#ari{
  padding-top: 100px;
}

.ist {
  display: flex;
  padding: 10px;
}

.ul2 {
  padding: 10px;
}

.ul2 {
  font-family: Arial, Helvetica;
  list-style-type: none;
}

.ul2 li {
  display: flex;
  flex-direction: row;
}
#y{
  text-align: center;
}
#s{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  color: blue;
}
#p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  color: red;
}
#d{
  width: 100%;
  border-radius: 20px 0px;
}
#c{
  font-weight: bolder;
  color: red;
}
#pi{
  font-size: larger;
  font-weight: bold;
  font-style: oblique;
}

#abt2{
  font-size: 50px;
}

.llink {
  text-decoration: none;
  color: white;
}

.chop {
  background-color: white;
  color: black;
  box-shadow: inset 0px 0px 30px gray;
  width: 250px;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  text-align: center;
}

.chop img {
  width: 200px;
}

.api {

  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* @media screen and (max-width:768px) {
  .ist {
    display: block;
    justify-content: space-between;
    padding: 10px;
  }
  nav ul {
    display: block;
    list-style-type: none;
    justify-content:end;
    width: fit-content;
  }
  nav ul li {
    margin-top: 10px;
  }

  .ipi{
    display: block;
    flex-direction: column;
  }

} */
.kplpi{
  color: black;
  background-color: red;
}

.iiop {
  background-color: cornflowerblue;
}

#n{
  background-color:darkslategray;
  color: white;
  width: fit-content;
  padding: 10px;
  margin: 0px auto ;
  font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
}
#w{
  background-color: black;
  color: white;
  border-radius: 10px ;
  width: fit-content;
  padding: 10px;
}
.iconss {
  /* background-color: black; */
}

.iconss ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

.iconss img {
  width: 40px;
}

.ndp{
  width: 540px;
}

.dark {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  /* box-shadow: inset 0px 0px 19px white; */
}

.light {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  /* box-shadow: inset 0px 0px 19px black; */
}
.imm{
 width: 310px;
 margin-bottom: 50px;
}
#kl{
  margin: 80px;
}
#ji{
  width: 100%;
  border-radius: 10px;
}
.ipi{
  margin-top: 80px;
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}